if Rails.env == "production"
  MYGOV_HOME="https://my.usa.gov"
  MYGOV_FORMS_HOME="https://forms.usa.gov"
  MYGOV_CLIENT_ID = ""
  MYGOV_SECRET_ID = ""
else
  MYGOV_HOME="http://localhost:3001"
  MYGOV_FORMS_HOME="http://localhost:3002"
  MYGOV_CLIENT_ID = ""
  MYGOV_SECRET_ID = ""
end
Rails.application.config.middleware.use OmniAuth::Builder do
  provider :mygov, MYGOV_CLIENT_ID, MYGOV_SECRET_ID
end
