.row.panel.secondary.group
  .eight.columns
    %h5
      Date of Birth
    %ul.plain
      %li
        = session[:user][:date_of_birth]
  .four.columns.align-right
    = form_tag birthdate_path do
      = hidden_field_tag 'mode', 'review'
      = submit_tag 'Edit Date of Birth', :class => 'small secondary button'
          