.row.panel.secondary.group
  .eight.columns
    %h5
      Date of Birth
    %ul.plain
      %li
        = session["user"]["date_of_birth"]
  .four.columns.align-right
    = form_tag info_path(:step => 'birthdate', :mode => 'review') do
      = submit_tag 'Edit Date of Birth', :class => 'small secondary button'
          