= render :partial => 'header'
.row
  .eight.columns      
    = form_tag (@continue_path || info_path(:step => 'contact_info')) do
      %fieldset
        %legend
          When were you born?
        %ol
          %li
            = select_date (Date.parse(session["user"]["date_of_birth"] || '1998-01-01')), :start_year => 1900, :end_year => Date.current.year, :date_separator => "</li><li>".html_safe, :default => { :year => 1998, :month => 1, :day => 1 }, :prefix => 'user[date_of_birth]'
      %div.actions
        = submit_tag 'Continue', :class => 'large button'