.row
  .eight.columns
    %h5
      We've saved your work in your MyGov account.
    %p
      = link_to 'Visit MyGov', MYGOV_HOME
      and log in to view your tasks and finish changing your name!
    %p
      Thanks!