.row
  .eight.columns
    %p
      You're on your way to changing your name.  Here's your list of the partially filled out forms you need to file to complete the process.
    %ul
      %li
        - if session[:reasons][:married].present?
          %h3
            Get a new Social Security Card
          %span
            = link_to 'Download SS-5 (PDF)', fill_pdf_path("ss-5"), :target => "_blank"
            (Partially filled out for you)
        - if session[:reasons][:court_order].present?
          %li
            %h3
              Get a new Passport
            %span
              = link_to 'Download Passport Form (PDF)', fill_pdf_path("79960"), :target => "_blank"
              (Partially filled out for you)
    %h4
      Save this to a MyGov account
    %p
      Saving your work to your MyGov account means you can come back later and finish changing your name.  We will keep track of all the forms you need to fill out and help you complete them.
    = link_to "Save to MyGov", save_path, :class => "large button positive", :id => 'save-button'