= render :partial => 'header'
.row
  .eight.columns
    .row
      .eight.columns
        %p
          Here are the places you'll have to change your name.  We'll walk you through getting as much done online as possible.
        .panel.listing
          %ul.summary
            - if params[:reasons][:married].present?
              %li
                %strong
                  Get a new Social Security card
                with the Social Security Agency
            - if params[:reasons][:court_order].present?
              %li
                %strong
                  Get a new passport
                with the State Department
    .row
      .eight.columns
        %p
          Would you like to sign in and prefill your data from your MyGov Account?
        = button_to 'Use MyGov', "/auth/mygov", :class => 'medium button positive', :style => 'float: left;' 
        = link_to 'No thanks', info_path(:step => 'name')
  
  .four.columns
    = render :partial => 'sidebar'  